---
layout: default
---
<section>
<h2 class="tl-main-title">{{ site.title }}</h2>
<h6 class="update-status"><time class="last-updated" datetime="{{ site.time | date_to_xmlschema }}" >{{ site.time | date_to_rfc822 }}</time> പുതുക്കിയത്</h6>
<hr>
</section>


<section>
<ol class="timeline">
	{% for post in site.posts %}
		<li class="tl-node {% if post.category %}{{ post.category }}{% endif %}">
			
			<div class="tl-stamp">
			<time class="date" datetime="{{ post.date | date_to_xmlschema }}" >
			    {{ post.date | date_to_string }}
			</time>
			</div>
			
			{% if site.linked_posts %}
				<div class="tl-content"><a href="{{ site.baseurl }}{{ post.url }}"><h6>{{ post.title }}</h6></a></div>
			{% else %}
				<div class="tl-title">{{ post.title }}</div>
			{% endif %}
			{% if post.summary %}
				<div class="tl-summary">{{ post.summary }}</div>
			{% else %}
				<div class="tl-summary">{{ post.excerpt }}</div>
			{% endif %}
		</li>
	{% endfor %}
</ol>
</section>