<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Live Updates" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/earlyaccess/notosansmalayalam.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	  <script src="{{ site.baseurl }}/js/moment.min.js"></script>
	  <script src="{{ site.baseurl }}/js/moment.ml.js"></script>
	 <script>
	$(document).ready(function(){
    	//	moment($date).lang("ml").format();
	var now = moment();

	$('time').each(function(i, e) {
		var time = moment($(e).attr('datetime')).locale("ml").format("Do MMMM YYYY, dddd")
	    	var fromNowTime = moment($(e).attr('datetime')).locale("ml").fromNow();
	        $(e).html(time +' ('+fromNowTime+')');
	});
	});
	</script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column">
	      {{ content }}
       </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
