<!DOCTYPE html>
<html lang="en" ⚡>
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Live Updates" />
  <link rel="canonical" href="{{page.url}}" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/earlyaccess/notosansmalayalam.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  
  <!--AMP -->
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script async src="https://cdn.ampproject.org/v0.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	  <script src="{{ site.baseurl }}/js/moment.min.js"></script>
	  <script src="{{ site.baseurl }}/js/moment.ml.js"></script>
	 <script>
	$(document).ready(function(){
    	// moment($date).lang("ml").format();	
	// var now = moment('2016-05-16').fromNow();	
	// $(".tl-main-title").html(now);

	$('time').each(function(i, e) {
		var time = moment($(e).attr('datetime')).locale("ml").format("Do MMMM YYYY, dddd")
	    	var fromNowTime = moment($(e).attr('datetime')).locale("ml").fromNow();
	        $(e).html(time +' ('+fromNowTime+')');
	});
	});
	</script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column">
	      {{ content }}
       </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
