---
layout: default
---

<div>
<h3><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
</div>
<div>
<ol class="timeline">
	<li class="tl-node{% if page.category %} {{ page.category }}{% endif %}">
		<div class="tl-stamp">{{ page.date | date_to_string }}</div>
		<div class="tl-title"><h5>{{ page.title }}</h5></div>
		<div class="tl-content">{{ content }}</div>
		{% if page.source %}
		<div class="tl-souce">
			<a class="button u-pull-right" href="{{ page.source }}">ഉറവിടം</a>
			<a class="button u-pull-left" onclick="history.go(-1);">തിരികെ</a>
		</div>
		{% endif %}
	</li>
</ol>
</div>
