---
layout: default
---

<div>
<h3><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
</div>
<div>
<ol class="timeline">
	<li class="tl-node{% if page.category %} {{ page.category }}{% endif %}">
		<time class="date" datetime="{{ page.date | date_to_xmlschema }}" >
		    {{ page.date | date_to_string }}
		</time>
		<div class="tl-title"><h5>{{ page.title }}</h5></div>
		<div class="tl-content">{{ content }}</div>
		{% if page.link %}
		<div class="button button-primary">{{ page.link | remove:'http://' |  remove:'http://' | split:'/' | first }}</div>
		<div class="tl-souce">
			<a class="button u-pull-right" href="{{ page.link }}">ഉറവിടം</a>
			<a class="button u-pull-left" onclick="history.go(-1);">&#8617;</a>
		</div>
		{% endif %}
	</li>
</ol>
</div>
